@import './mixins.scss';
@import './constants.scss';
@import './variables.scss';

body {
    background-color: $off-white;
}

div#App {
    width: 100%;
    max-width: $app-max-width;
    margin: auto;
    padding: $app-padding;

    @include flex($flex-direction: column, $justify-content: flex-start);
    
    div#Header {
        margin-bottom: $portfolio-under; 
        
        h1 {
            font-size: $header-name-size;
        }
        
        #under-name {
            @include flex;
            h4 {
                font-size: $under-name-size;
                font-weight: $under-name-weight;
                &:not(:last-of-type) {
                    margin-right: $under-name-between;
                }
            }
        }
    }    
}

div.Portfolio {
        @include flex($flex-direction: column);
        
        &:not(:last-of-type) {
            margin-bottom: $portfolio-under;
        }

        h2 {
            font-size: $portfolio-header-size;
            margin-bottom: $portfolio-header-under;
        }

        .content-container {
            .content-md {
                display: flex;
                &:not(:last-child) {
                    margin-bottom: $content-under;
                }
            
                > * {
                    padding-left: $content-padding-side;
                    padding-right: $content-padding-side;
                    border-left: $content-border-width solid transparent;
                }
                &:not(div) {
                    > * {
                        @at-root div#Landing & {
                            border-left-color: $content-border-start-color;
                        }
                        transition: border-left $content-border-fade linear;
                    }
                    &:hover {
                        > * {
                            border-left: $content-border-width solid $content-border-end-color;
                        }
                    }
                }    
                p {
                    text-align: $p-text-align;
                    font-size: $p-font-size;
                    line-height: $p-line-height;
                }
            }
        }
    }