@import './mixins.scss';
@import './constants.scss';
@import './variables.scss';

body {
    background-color: $off-white;
}

div#App {
    width: 100%;
    max-width: $app-max-width;
    margin: auto;
    padding: $app-padding;

    @include flex($flex-direction: column, $justify-content: flex-start);

    > div:not(:last-of-type) {
        margin-bottom: $section-under;
    }
    
    div#Header {
        h1 {
            font-size: $header-name-size;
        }
        
        #under-name {
            @include flex;
            h4 {
                font-size: $under-name-size;
                font-weight: $under-name-weight;
                &:not(:last-of-type) {
                    margin-right: $under-name-between;
                }
            }
        }
    }
    
    div#Landing {
        p {
            text-align: $p-text-align;
            font-size: $p-font-size;
            line-height: $p-line-height;
        }

        > div:not(:last-of-type) {
            margin-bottom: $section-under;
        }
    }

    div.Portfolio {
        @include flex($flex-direction: column);

        h2 {
            font-size: $portfolio-header-size;
            margin-bottom: $portfolio-header-under;
        }

        &:not(:last-of-type) {
            margin-bottom: $section-under;
        }
    }
}

.content-container {
    .content-md {
        & {
        // &:not(:last-of-type) {
            margin-bottom: $content-under;
        }
        > * {
            padding-left: $content-padding-side;
            padding-right: $content-padding-side;
            border-left: $content-border-width solid transparent;
        }
        &:not(div) {
            > * {
                transition-property: border-left;
                transition-duration: $content-border-fade;
            }
            &:hover {
                > * {
                        border-left: $content-border-width solid $content-border-color;
                }
            }
        }    
    }
}
