@import './mixins.scss';
@import './constants.scss';
@import './variables.scss';

@media screen and (max-width: 720px) {
    body {
        font-size: 0.8em;
    }
}

body {
    background-color: $off-white;
}

div#App {
    width: 100%;
    max-width: $app-max-width;
    margin: auto;

    padding: $app-padding;
    @media screen and (max-width: 720px) {
        & {
            padding: $app-mobile-padding;
        }
    }

    @include flex($flex-direction: column, $justify-content: flex-start);
    
    div#Header {
        margin-bottom: $portfolio-under; 
        
        h1 {
            text-align: center;

            font-size: $header-name-size;
            @media screen and (max-width: 720px) {
                & {
                    font-size: $header-mobile-name-size;
                }
            }
        }
        
        #under-name {
            @include flex;
            h4 {
                font-size: $under-name-size;
                font-weight: $under-name-weight;
                &:not(:last-of-type) {
                    margin-right: $under-name-between;
                }

                padding-bottom: $under-name-padding;
                border-bottom: $under-name-border-width solid transparent;
                transition: border-bottom $under-name-fade;
                &:hover {
                    border-bottom-color: $under-name-border-color;
                }
            }
        }
    }    

    div#Landing {
        width: 100%;
    }

    div.Portfolio,
    div.BlogPost {
        @include flex($flex-direction: column);
        
        &:not(:last-of-type) {
            margin-bottom: $portfolio-under;
        }

        h2 {
            margin-bottom: $portfolio-header-under;

            font-size: $portfolio-header-size;
            @media screen and (max-width: 720px) {
                & {
                    font-size: $portfolio-mobile-header-size;
                }
            }
        }

        .content-container {
            @include flex($flex-direction: column, $align-items: flex-start);

            .content-md {
                display: flex;
                &:not(:last-child) {
                    margin-bottom: $content-under;
                }
            
                > * {
                    padding-left: $content-padding-side;
                    padding-right: $content-padding-side;
                    border-left: $content-border-width solid transparent;

                    text-align: $p-text-align;
                    font-size: $p-font-size;
                    &, 
                    & > * {
                        line-height: $p-line-height;
                    }
                }

                > ul, 
                > ol {
                    margin-left: $content-list-margin-left;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                
                &:not(div) {
                    > * {
                        border-left-color: $content-border-start-color !important;
                        transition: border-left $content-border-fade;
                    }
                    &:hover {
                        > * {
                            border-left: $content-border-width solid $content-border-end-color !important;
                        }
                    }
                }    
                
            }
            .content-img {
                width: 100%;
                margin: $content-img-margin;
                margin-top: initial;
                max-width: $content-img-max-width;

                align-self: center;
            }
            .tags {
                .tag {
                    font-style: italic;
                    border-bottom: $tag-border-width solid $tag-border-start-color;
                    transition: border-bottom $tag-border-fade;
                    &:hover {
                        border-bottom: $tag-border-width solid $tag-border-end-color;
                    }
                }
            }
        }
    }
}

.Gallery {
    @include flex($flex-direction: row!important);
    flex-wrap: wrap;
    .GalleryImage {
        width: 300px;
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}