$header-name-size: 5em;
$header-under: 4em;

$under-name-size: 1.25em;
$under-name-weight: 400;
$under-name-between: 3em;

$p-text-align: justify;
$p-font-size: 1.2em;
$p-line-height: 1 * $p-font-size;