$app-max-width: 640px;
$app-padding: 100px 10px 100px 10px;
$app-mobile-padding: 20px 4px 20px 4px;

$header-name-size: 5em;
$header-mobile-name-size: 4em;

$under-name-size: 1.3em;
$under-name-weight: 400;
$under-name-between: 3em;
$under-name-padding: 4px;
$under-name-border-width: 2px;
$under-name-border-color: $off-black;
$under-name-fade: 0.35s;

$portfolio-header-size: 3em;
$portfolio-mobile-header-size: 2.2em;
$portfolio-header-under: 3em * (1em / $portfolio-header-size);
$portfolio-under: 3.5em;

$content-padding-side: 7px;
$content-border-width: 4px;
$content-border-start-color: rgba($off-black, 0.1);
$content-border-end-color: $off-black; 

$content-border-fade: 0.4s;
$content-under: 1.5em;

$p-text-align: justify;
$p-font-size: 1.25em;
$p-line-height: 1 * $p-font-size;


